DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/

*.sln
*.suo
*.VC.db
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.log
*.pdb
*.idb
*.opendb
*.tlog

.DS_Store
Thumbs.db
*.iml
*.ipr
*.iws

.env

*.tmp
*.bak
*.swp
*.swo
*.tmp
*.ldb

Config/*.ini
!Config/Default*.ini
Config/Local/*

!Content/
Content/Developers/
Content/Collections/
*.uasset.tmp

!Source/
Source/*.cpp~*
Source/*.h~*

!Plugins/*/Binaries/
Plugins/*/Intermediate/

*.idea

#FMOD
Plugins/FMODStudio/Intermediate/
Plugins/FMODStudioNiagara/Intermediate/
*.user
.fmod/
.cache/
.cache/**
Documentation/
Docs/